// Everforest Legacy color palette, adapted for GNOME
$blue_1: #b1d3c6;
$blue_2: #98c7bd;
$blue_3: #7fbbb3;
$blue_4: #6d9e99;
$blue_5: #5b827f;
$green_1: #c9d6a8;
$green_2: #b8cb94;
$green_3: #a7c080;
$green_4: #8da270;
$green_5: #738560;
$yellow_1: #e9d3a7;
$yellow_2: #e2c893;
$yellow_3: #dbbc7f;
$yellow_4: #b79f6f;
$yellow_5: #928260;
$orange_1: #efbea1;
$orange_2: #ebab8b;
$orange_3: #e69875;
$orange_4: #bf8267;
$orange_5: #996d5a;
$red_1: #efaea8;
$red_2: #eb9694;
$red_3: #e67e80;
$red_4: #bf6e70;
$red_5: #995d60;
$purple_1: #e6bec8;
$purple_2: #deacbf;
$purple_3: #d699b6;
$purple_4: #b3839b;
$purple_5: #8f6d81;
$brown_1: #cfb19d;
$brown_2: #bf9a86;
$brown_3: #b0836f;
$brown_4: #947263;
$brown_5: #786056;
$light_1: #fdf6e3;
$light_2: #e4e1cd;
$light_3: #bdc3af;
$light_4: #859289;
$light_5: #7a8478;
$dark_1: #596763;
$dark_2: #525c62;
$dark_3: #404c51;
$dark_4: #374247;
$dark_5: #252c31;

// Everforest Legacy color palette
$everforest_legacy_bg_dim: #252c31;
$everforest_legacy_bg0: #2f383e;
$everforest_legacy_bg1: #374247;
$everforest_legacy_bg2: #404c51;
$everforest_legacy_bg3: #4a555b;
$everforest_legacy_bg4: #525c62;
$everforest_legacy_bg5: #596763;
$everforest_legacy_bg_visual: #573e4c;
$everforest_legacy_bg_red: #544247;
$everforest_legacy_bg_green: #445349;
$everforest_legacy_bg_blue: #3b5360;
$everforest_legacy_bg_yellow: #504f45;
$everforest_legacy_fg: #d3c6aa;
$everforest_legacy_red: #e67e80;
$everforest_legacy_orange: #e69875;
$everforest_legacy_yellow: #dbbc7f;
$everforest_legacy_green: #a7c080;
$everforest_legacy_aqua: #83c092;
$everforest_legacy_blue: #7fbbb3;
$everforest_legacy_purple: #d699b6;
$everforest_legacy_grey0: #7a8478;
$everforest_legacy_grey1: #859289;
$everforest_legacy_grey2: #9da9a0;
$everforest_legacy_statusline1: #a7c080;
$everforest_legacy_statusline2: #d3c6aa;
$everforest_legacy_statusline3: #e67e80;
