/* Slider */

$slider_size: $scalable_icon_size;

.slider {
  color: $fg_color;

  // slider trough
  -barlevel-height: 4px;
  -barlevel-background-color: $everforest_legacy_bg1;
  // fill style
  -barlevel-active-background-color: $everforest_legacy_blue;
  // overfill style (red in this case)
  -barlevel-overdrive-color: $destructive_color;
  -barlevel-overdrive-separator-width:1px;
  // slider handler
  -slider-handle-radius: $slider_size * 0.5; // half the size of the size

  // hc style
  @if $contrast == 'high' {
    -barlevel-background-color: transparentize($fg_color, 0.6);
  }

  &:hover {
    color: $light_2;
  }
}
